@import './variables.scss';
@import './mixins/create-font-face.scss';

@include create-font-face($main-font-name, $main-font-path);
@include create-font-face($secondary-font-name, $secondary-font-path);

body {
  font-family: '#{$main-font-name}';
  color: $color-primary;
  background-color: $color-bg;
}

a, a:active {
  color: $color-primary;
  text-decoration: none;
}
