$main-font-name: 'Nunito';
$main-font-path: '../../fonts/Nunito/';
$secondary-font-name: 'Montserrat';
$secondary-font-path: '../../fonts/Montserrat';

$color-primary: #00272B;
$color-secondary: #2E4E51;
$color-highlight: #009FFD;
$color-bg: #FFFFFF;
