$main-font-name: 'Nunito';
$main-font-path: '../../fonts/Nunito/';
$secondary-font-name: 'Montserrat';
$secondary-font-path: '../../fonts/Montserrat';

$color-primary: #00272b;
$color-secondary: #2e4e51;
$color-highlight: #009ffd;
$color-bg: #ffffff;
